In [288]:
import pandas as pd
import pymysql
import sqlalchemy as alch
from dotenv import load_dotenv
import os

In [241]:
order_history = pd.read_csv('old_files/order_history.csv',sep="~",index_col=0)

In [242]:
pedido_fecha = pd.read_csv('old_files/pedido_fecha.csv',index_col=0)

In [243]:
order_history

,product,units,price,order_number
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376
1,Tomate pera,2,0.60,13945376
2,Atún en aceite de girasol Hacendado,2,13.60,13945376
3,Café molido natural Hacendado,1,3.20,13945376
4,Hummus de garbanzos Hacendado con pimiento del...,1,1.45,13945376
...,...,...,...,...
637,Pechugas enteras de pollo,1,4.32,12793662
638,Pechugas enteras de pollo,1,4.40,12793662
639,Medallones pechuga de pollo marinado,1,4.32,12793662
640,Aguacates,1,2.90,12793662
641,Aguacates,1,3.03,12793662

In [244]:
pedido_fecha

      pedido       fecha
1   13879881  2023-03-04
2   13821013  2023-02-25
3   13759447  2023-02-18
4   13703740  2023-02-11
5   13640454  2023-02-04
6   13580934  2023-01-28
7   13546313  2023-01-21
8   13507140  2023-01-14
9   13449668  2023-01-11
10  13397754  2023-01-04
11  13374140  2022-12-28
12  13315781  2022-12-21
13  13253776  2022-12-14
14  13220829  2022-12-07
15  13151497  2022-11-30
16  13117832  2022-11-23
17  13069090  2022-11-16
18  13029815  2022-11-09
19  12950475  2022-10-31
20  12878660  2022-10-20
21  12838037  2022-10-13
22  12793662  2022-10-06

In [245]:
# merge the dataframes using a left join
merged_df = pd.merge(order_history, pedido_fecha[["pedido", "fecha"]], how="left", left_on="order_number", right_on="pedido")

# drop the original 'pedido' column if desired
merged_df = merged_df.drop("pedido", axis=1)

merged_df

,product,units,price,order_number,fecha
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,NaN
1,Tomate pera,2,0.60,13945376,NaN
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,NaN
3,Café molido natural Hacendado,1,3.20,13945376,NaN
4,Hummus de garbanzos Hacendado con pimiento del...,1,1.45,13945376,NaN
...,...,...,...,...,...
637,Pechugas enteras de pollo,1,4.32,12793662,2022-10-06
638,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06
639,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06
640,Aguacates,1,2.90,12793662,2022-10-06
641,Aguacates,1,3.03,12793662,2022-10-06

In [246]:
# fill NaN values in the 'fecha' column with March 11, 2023
missing_date = pd.Timestamp(2023, 3, 11)
merged_df["fecha"] = merged_df["fecha"].fillna(missing_date)
merged_df

,product,units,price,order_number,fecha
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11 00:00:00
1,Tomate pera,2,0.60,13945376,2023-03-11 00:00:00
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11 00:00:00
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11 00:00:00
4,Hummus de garbanzos Hacendado con pimiento del...,1,1.45,13945376,2023-03-11 00:00:00
...,...,...,...,...,...
637,Pechugas enteras de pollo,1,4.32,12793662,2022-10-06
638,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06
639,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06
640,Aguacates,1,2.90,12793662,2022-10-06
641,Aguacates,1,3.03,12793662,2022-10-06

In [247]:
type(merged_df["fecha"][638])

str

In [248]:
merged_df["fecha"] = pd.to_datetime(merged_df["fecha"])
merged_df

,product,units,price,order_number,fecha
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11
1,Tomate pera,2,0.60,13945376,2023-03-11
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11
4,Hummus de garbanzos Hacendado con pimiento del...,1,1.45,13945376,2023-03-11
...,...,...,...,...,...
637,Pechugas enteras de pollo,1,4.32,12793662,2022-10-06
638,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06
639,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06
640,Aguacates,1,2.90,12793662,2022-10-06
641,Aguacates,1,3.03,12793662,2022-10-06

In [249]:
type(merged_df["fecha"][638])

pandas._libs.tslibs.timestamps.Timestamp

In [250]:
merged_df.to_csv('order_history.csv')

In [251]:
order_history = merged_df
order_history

,product,units,price,order_number,fecha
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11
1,Tomate pera,2,0.60,13945376,2023-03-11
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11
4,Hummus de garbanzos Hacendado con pimiento del...,1,1.45,13945376,2023-03-11
...,...,...,...,...,...
637,Pechugas enteras de pollo,1,4.32,12793662,2022-10-06
638,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06
639,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06
640,Aguacates,1,2.90,12793662,2022-10-06
641,Aguacates,1,3.03,12793662,2022-10-06

In [252]:
mercadona_scraping = pd.read_csv('../scraping/Mercadona Scraping 2023-03-11_21-39-33', sep='~')
mercadona_scraping

,product,product_type,product_volume,product_price_per_unit,product_price,product_unit,product_category,product_subcategory,product_url,product_code,collected_timestamp
0,"Aceite de oliva 0,4º Hacendado",Garrafa,5 L,"| 4,726 €/L",23.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4241/aceit...,4241.0,2023-03-11 21:46:34.649336
1,"Aceite de oliva 0,4º Hacendado",Botella,1 L,"| 4,77 €/L",4.77,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4240/aceit...,4240.0,2023-03-11 21:46:35.305827
2,Aceite de oliva virgen extra Hacendado,Garrafa,3 L,"| 5,584 €/L",16.75,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4717/aceit...,4717.0,2023-03-11 21:46:35.818152
3,Aceite de oliva virgen extra Hacendado,Botella,1 L,"| 5,63 €/L",5.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4740/aceit...,4740.0,2023-03-11 21:46:36.352894
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella,750 ml,"| 6,814 €/L",5.11,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4706/aceit...,4706.0,2023-03-11 21:46:36.951563
...,...,...,...,...,...,...,...,...,...,...,...
5224,Bebida de pomelo Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.25,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39604/bebi...,39604.0,2023-03-12 10:05:44.970111
5225,Bebida guayaba Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.30,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39659/bebi...,39659.0,2023-03-12 10:05:45.366446
5226,Bebida de pera Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.10,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39628/bebi...,39628.0,2023-03-12 10:05:45.766966
5227,Zumo de pomelo Hacendado,Not available,Not available,Not available,1.45,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39696/zumo...,39696.0,2023-03-12 10:05:46.170104
5228,Zumo de manzana selección Hacendado,Not available,Not available,Not available,1.50,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39922/zumo...,39922.0,2023-03-12 10:05:46.515096

In [253]:
order_history = pd.merge(order_history, mercadona_scraping[["product", "product_code"]],left_on="product", right_on="product", how="left")
order_history

,product,units,price,order_number,fecha,product_code
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11,17283.0
1,Tomate pera,2,0.60,13945376,2023-03-11,69912.0
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11,18086.0
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11178.0
4,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11172.0
...,...,...,...,...,...,...
921,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06,3724.0
922,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831.0
923,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831.0
924,Aguacates,1,2.90,12793662,2022-10-06,3858.0
925,Aguacates,1,3.03,12793662,2022-10-06,3858.0

In [254]:
#order_history["product_code"] = order_history["product_code"].astype(int)
order_history

,product,units,price,order_number,fecha,product_code
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11,17283.0
1,Tomate pera,2,0.60,13945376,2023-03-11,69912.0
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11,18086.0
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11178.0
4,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11172.0
...,...,...,...,...,...,...
921,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06,3724.0
922,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831.0
923,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831.0
924,Aguacates,1,2.90,12793662,2022-10-06,3858.0
925,Aguacates,1,3.03,12793662,2022-10-06,3858.0

In [255]:
order_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926 entries, 0 to 925
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product       926 non-null    object
 1   units         926 non-null    int64
 2   price         926 non-null    float64
 3   order_number  926 non-null    int64
 4   fecha         926 non-null    datetime64[ns]
 5   product_code  858 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 50.6+ KB

In [256]:
order_history[order_history["product_code"].isna()]["product"].value_counts()

Ensalada mezcla brotes tiernos maxi                                            22
Bebida de almendras zero Hacendado                                             10
Papel higiénico húmedo WC Bosque Verde                                          7
Detergente ropa All in 1 Ariel Pods en cápsulas                                 3
Servilleta papel Bosque Verde                                                   3
Acondicionador Repara & Protege Pantene                                         2
Detergente ropa All in 1 Ariel en cápsulas                                      2
Servilleta papel Cocktail Bosque Verde                                          2
Filetes pechuga de pollo corte fino                                             2
Ambientador automático Caramel Bosque Verde                                     2
Champú Anticaída Men Deliplus                                                   2
Activador quitamanchas ropa de color Oxi Active Bosque Verde en polvo           1
Disuelve manchas Bosque Verde                                                   1
Activador Blanqueante ropa blanca Bosque Verde en polvo                         1
Galletas cacahuete y chocolate Hacendado                                        1
Papel vegetal Bosque Verde                                                      1
Galletas crujientes chocolate y avena Hacendado                                 1
Galletas mini Oreo                                                              1
Salteado de setas laminadas                                                     1
Barritas Sustitutivo de comida Belladieta sabor avena y chocolate con leche     1
Manzana Royal Gala                                                              1
Vela perfumada Té Chai Bosque Verde                                             1
Name: product, dtype: int64

In [257]:
product_dict = {"Ensalada mezcla brotes tiernos maxi" : 69810,
"Bebida de almendras zero Hacendado" : 23926,
"Papel higiénico húmedo WC Bosque Verde" : 47291,
"Detergente ropa All in 1 Ariel Pods en cápsulas" : 16806,
"Servilleta papel Bosque Verde" : 49544,
"Acondicionador Repara & Protege Pantene" : 35615,
"Detergente ropa All in 1 Ariel en cápsulas" : 16806,
"Servilleta papel Cocktail Bosque Verde" : 49544,
"Filetes pechuga de pollo corte fino" : 3400,
"Ambientador automático Caramel Bosque Verde" : 72405,
"Champú Anticaída Men Deliplus" : 44355,
"Activador quitamanchas ropa de color Oxi Active Bosque Verde en polvo" : 40317,
"Disuelve manchas Bosque Verde" : 40178,
"Activador Blanqueante ropa blanca Bosque Verde en polvo" : 40315,
"Galletas cacahuete y chocolate Hacendado" : "Nan",
"Papel vegetal Bosque Verde" : 23608,
"Galletas crujientes chocolate y avena Hacendado" : "Nan",
"Galletas mini Oreo" : 14030,
"Salteado de setas laminadas" : 69674,
"Barritas Sustitutivo de comida Belladieta sabor avena y chocolate con leche" : 86259,
"Manzana Royal Gala" : 3175,
"Vela perfumada Té Chai Bosque Verde" : 15805}

In [258]:
order_history["product_code"] = order_history["product_code"].fillna(order_history["product"].map(product_dict))
order_history

,product,units,price,order_number,fecha,product_code
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11,17283.0
1,Tomate pera,2,0.60,13945376,2023-03-11,69912.0
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11,18086.0
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11178.0
4,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11172.0
...,...,...,...,...,...,...
921,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06,3724.0
922,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831.0
923,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831.0
924,Aguacates,1,2.90,12793662,2022-10-06,3858.0
925,Aguacates,1,3.03,12793662,2022-10-06,3858.0

In [259]:
order_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926 entries, 0 to 925
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product       926 non-null    object
 1   units         926 non-null    int64
 2   price         926 non-null    float64
 3   order_number  926 non-null    int64
 4   fecha         926 non-null    datetime64[ns]
 5   product_code  926 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 50.6+ KB

In [260]:
order_history = order_history[order_history["product_code"] != "Nan"]
order_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 924 entries, 0 to 925
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product       924 non-null    object
 1   units         924 non-null    int64
 2   price         924 non-null    float64
 3   order_number  924 non-null    int64
 4   fecha         924 non-null    datetime64[ns]
 5   product_code  924 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 50.5+ KB

In [261]:
order_history["product_code"] = order_history["product_code"].astype(int)
order_history

/var/folders/zt/x4f866fn6v5b11fyl7jzdnk80000gn/T/ipykernel_64537/4293465796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_history["product_code"] = order_history["product_code"].astype(int)

,product,units,price,order_number,fecha,product_code
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11,17283
1,Tomate pera,2,0.60,13945376,2023-03-11,69912
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11,18086
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11178
4,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11172
...,...,...,...,...,...,...
921,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06,3724
922,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831
923,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831
924,Aguacates,1,2.90,12793662,2022-10-06,3858
925,Aguacates,1,3.03,12793662,2022-10-06,3858

In [262]:
order_history['price_per_unit'] = order_history['price'] / order_history['units']
order_history

/var/folders/zt/x4f866fn6v5b11fyl7jzdnk80000gn/T/ipykernel_64537/359598464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_history['price_per_unit'] = order_history['price'] / order_history['units']

,product,units,price,order_number,fecha,product_code,price_per_unit
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11,17283,1.20
1,Tomate pera,2,0.60,13945376,2023-03-11,69912,0.30
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11,18086,6.80
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11178,3.20
4,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11172,3.20
...,...,...,...,...,...,...,...
921,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06,3724,4.40
922,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831,4.32
923,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831,4.32
924,Aguacates,1,2.90,12793662,2022-10-06,3858,2.90
925,Aguacates,1,3.03,12793662,2022-10-06,3858,3.03

In [263]:
order_history[order_history['product']=='Café molido natural Hacendado']

,product,units,price,order_number,fecha,product_code,price_per_unit
3,Café molido natural Hacendado,1,3.2,13945376,2023-03-11,11178,3.2
4,Café molido natural Hacendado,1,3.2,13945376,2023-03-11,11172,3.2
175,Café molido natural Hacendado,1,3.2,13640454,2023-02-04,11178,3.2
176,Café molido natural Hacendado,1,3.2,13640454,2023-02-04,11172,3.2
360,Café molido natural Hacendado,1,3.0,13397754,2023-01-04,11178,3.0
361,Café molido natural Hacendado,1,3.0,13397754,2023-01-04,11172,3.0
661,Café molido natural Hacendado,1,2.7,13069090,2022-11-16,11178,2.7
662,Café molido natural Hacendado,1,2.7,13069090,2022-11-16,11172,2.7
696,Café molido natural Hacendado,1,2.7,13029815,2022-11-09,11178,2.7
697,Café molido natural Hacendado,1,2.7,13029815,2022-11-09,11172,2.7
740,Café molido natural Hacendado,1,2.7,12950475,2022-10-31,11178,2.7
741,Café molido natural Hacendado,1,2.7,12950475,2022-10-31,11172,2.7

In [264]:
order_history.loc[order_history['product'] == 'Café molido natural Hacendado', 'product_code'] = 11178

In [265]:
order_history[order_history['product']=='Café molido natural Hacendado']

,product,units,price,order_number,fecha,product_code,price_per_unit
3,Café molido natural Hacendado,1,3.2,13945376,2023-03-11,11178,3.2
4,Café molido natural Hacendado,1,3.2,13945376,2023-03-11,11178,3.2
175,Café molido natural Hacendado,1,3.2,13640454,2023-02-04,11178,3.2
176,Café molido natural Hacendado,1,3.2,13640454,2023-02-04,11178,3.2
360,Café molido natural Hacendado,1,3.0,13397754,2023-01-04,11178,3.0
361,Café molido natural Hacendado,1,3.0,13397754,2023-01-04,11178,3.0
661,Café molido natural Hacendado,1,2.7,13069090,2022-11-16,11178,2.7
662,Café molido natural Hacendado,1,2.7,13069090,2022-11-16,11178,2.7
696,Café molido natural Hacendado,1,2.7,13029815,2022-11-09,11178,2.7
697,Café molido natural Hacendado,1,2.7,13029815,2022-11-09,11178,2.7
740,Café molido natural Hacendado,1,2.7,12950475,2022-10-31,11178,2.7
741,Café molido natural Hacendado,1,2.7,12950475,2022-10-31,11178,2.7

In [266]:
test = pd.DataFrame(order_history.groupby("product")["product_code"].unique())
test

                                                          product_code
product
6 Caracolas rellenas de cacao                                  [84688]
Aceite de oliva virgen extra Hacendado              [4717, 4740, 4718]
Acondicionador Repara & Protege Pantene                        [35615]
Activador Blanqueante ropa blanca Bosque Verde ...             [40315]
Activador quitamanchas ropa de color Oxi Active...             [40317]
...                                                                ...
Tomate pera                                                    [69912]
Uva roja sin semillas                                           [3321]
Vela perfumada Té Chai Bosque Verde                            [15805]
Vinagre de Limpieza Bosque Verde concentrado                   [49402]
Zumo pura naranja Hacendado                             [39010, 39033]

[167 rows x 1 columns]

In [267]:
test = test[test["product_code"].apply(len)>1]
test

                                                                                         product_code
product
Aceite de oliva virgen extra Hacendado                                             [4717, 4740, 4718]
Bicarbonato sódico Hacendado                                                           [29007, 29006]
Cebollas                                                                               [69079, 69089]
Huevos grandes L                                                                [31003, 31504, 31540]
Leche desnatada sin lactosa Hacendado                                                  [10730, 10731]
Mandarina                                                                                [3238, 5504]
Mantequilla con sal Hacendado                                                          [20722, 20727]
Papel higiénico Doble Rollo Bosque Verde                                               [47818, 47819]
Patatas                                                                                [69166, 69099]
Pechuga de pavo bajo en sal Hacendado finas lon...                                     [59252, 59247]
Pechugas enteras de pollo                                                                [3682, 3724]
Preparado de carne picada vacuno                                                         [2868, 3454]
Preparado de carne picada vacuno y cerdo                                                 [2869, 3453]
Refresco Coca-Cola Zero Zero                                             [26997, 27559, 28180, 27462]
Refresco Coca-Cola Zero azúcar                      [27426, 27414, 27449, 27445, 13816, 28115, 29361]
Salmón ahumado Hacendado                                                               [53444, 53445]
Spaghetti Hacendado                                                                      [6245, 6331]
Toallitas bebé frescas & perfumadas Deliplus                                    [79603, 79427, 79428]
Zumo pura naranja Hacendado                                                            [39010, 39033]

In [268]:
code_replacement = {
        4717 : 4718,        # "Aceite de oliva virgen extra Hacendado" : 4718
        4740 : 4718,
        29007 : 29006,      # "Bicarbonato sódico Hacendado" : 29006
        31504 : 31003,      # "Huevos grandes L" : 31003
        31540 : 31003,
        10730 : 10731,      # "Leche desnatada sin lactosa Hacendado" : 10731
        20722 : 20727,      # "Mantequilla con sal Hacendado" : 20727
        59247 : 59252,      # "Pechuga de pavo bajo en sal Hacendado finas lonchas" : 59252
        3724 : 3682,        # "Pechugas enteras de pollo" : 3682
        2868 : 3454,        # "Preparado de carne picada vacuno" : 3454
        2869 : 3453,        # "Preparado de carne picada vacuno y cerdo" : 3453
        27559 : 26997,
        28180 : 26997,
        27462 : 26997,       # "Refresco Coca-Cola Zero Zero" : 26997
        27414 : 27426,
        27449 : 27426,
        27445 : 27426,
        13816 : 27426,
        28115 : 27426,
        29361 : 27426,       # "Refresco Coca-Cola Zero azúcar" : 27426
        53444 : 53445,       # "Salmón ahumado Hacendado" : 53445
        6245 : 6331,         # "Spaghetti Hacendado" : 6331
        79603 : 79427,
        79428 : 79427,       # "Toallitas bebé frescas & perfumadas Deliplus" : 79427
        39033 : 39010        # "Zumo pura naranja Hacendado" : 39010
}

In [269]:
order_history["product_code"].replace(code_replacement)

0      17283
1      69912
2      18086
3      11178
4      11178
       ...
921     3682
922     2831
923     2831
924     3858
925     3858
Name: product_code, Length: 924, dtype: int64

In [270]:
order_history["product_code"] = order_history["product_code"].replace(code_replacement)

/var/folders/zt/x4f866fn6v5b11fyl7jzdnk80000gn/T/ipykernel_64537/2350123026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_history["product_code"] = order_history["product_code"].replace(code_replacement)

In [271]:
test2 = pd.DataFrame(order_history.groupby("product")["product_code"].unique())
test2 = test2[test2["product_code"].apply(len)>1]
test2

                                            product_code
product
Cebollas                                  [69079, 69089]
Mandarina                                   [3238, 5504]
Papel higiénico Doble Rollo Bosque Verde  [47818, 47819]
Patatas                                   [69166, 69099]

In [272]:
order_history

,product,units,price,order_number,fecha,product_code,price_per_unit
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.20,13945376,2023-03-11,17283,1.20
1,Tomate pera,2,0.60,13945376,2023-03-11,69912,0.30
2,Atún en aceite de girasol Hacendado,2,13.60,13945376,2023-03-11,18086,6.80
3,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11178,3.20
4,Café molido natural Hacendado,1,3.20,13945376,2023-03-11,11178,3.20
...,...,...,...,...,...,...,...
921,Pechugas enteras de pollo,1,4.40,12793662,2022-10-06,3682,4.40
922,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831,4.32
923,Medallones pechuga de pollo marinado,1,4.32,12793662,2022-10-06,2831,4.32
924,Aguacates,1,2.90,12793662,2022-10-06,3858,2.90
925,Aguacates,1,3.03,12793662,2022-10-06,3858,3.03

In [273]:
mercadona_scraping

,product,product_type,product_volume,product_price_per_unit,product_price,product_unit,product_category,product_subcategory,product_url,product_code,collected_timestamp
0,"Aceite de oliva 0,4º Hacendado",Garrafa,5 L,"| 4,726 €/L",23.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4241/aceit...,4241.0,2023-03-11 21:46:34.649336
1,"Aceite de oliva 0,4º Hacendado",Botella,1 L,"| 4,77 €/L",4.77,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4240/aceit...,4240.0,2023-03-11 21:46:35.305827
2,Aceite de oliva virgen extra Hacendado,Garrafa,3 L,"| 5,584 €/L",16.75,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4717/aceit...,4717.0,2023-03-11 21:46:35.818152
3,Aceite de oliva virgen extra Hacendado,Botella,1 L,"| 5,63 €/L",5.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4740/aceit...,4740.0,2023-03-11 21:46:36.352894
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella,750 ml,"| 6,814 €/L",5.11,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4706/aceit...,4706.0,2023-03-11 21:46:36.951563
...,...,...,...,...,...,...,...,...,...,...,...
5224,Bebida de pomelo Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.25,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39604/bebi...,39604.0,2023-03-12 10:05:44.970111
5225,Bebida guayaba Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.30,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39659/bebi...,39659.0,2023-03-12 10:05:45.366446
5226,Bebida de pera Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.10,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39628/bebi...,39628.0,2023-03-12 10:05:45.766966
5227,Zumo de pomelo Hacendado,Not available,Not available,Not available,1.45,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39696/zumo...,39696.0,2023-03-12 10:05:46.170104
5228,Zumo de manzana selección Hacendado,Not available,Not available,Not available,1.50,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39922/zumo...,39922.0,2023-03-12 10:05:46.515096

In [274]:
mercadona_scraping["source"]='scraping'
mercadona_scraping

,product,product_type,product_volume,product_price_per_unit,product_price,product_unit,product_category,product_subcategory,product_url,product_code,collected_timestamp,source
0,"Aceite de oliva 0,4º Hacendado",Garrafa,5 L,"| 4,726 €/L",23.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4241/aceit...,4241.0,2023-03-11 21:46:34.649336,scraping
1,"Aceite de oliva 0,4º Hacendado",Botella,1 L,"| 4,77 €/L",4.77,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4240/aceit...,4240.0,2023-03-11 21:46:35.305827,scraping
2,Aceite de oliva virgen extra Hacendado,Garrafa,3 L,"| 5,584 €/L",16.75,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4717/aceit...,4717.0,2023-03-11 21:46:35.818152,scraping
3,Aceite de oliva virgen extra Hacendado,Botella,1 L,"| 5,63 €/L",5.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4740/aceit...,4740.0,2023-03-11 21:46:36.352894,scraping
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella,750 ml,"| 6,814 €/L",5.11,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4706/aceit...,4706.0,2023-03-11 21:46:36.951563,scraping
...,...,...,...,...,...,...,...,...,...,...,...,...
5224,Bebida de pomelo Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.25,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39604/bebi...,39604.0,2023-03-12 10:05:44.970111,scraping
5225,Bebida guayaba Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.30,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39659/bebi...,39659.0,2023-03-12 10:05:45.366446,scraping
5226,Bebida de pera Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.10,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39628/bebi...,39628.0,2023-03-12 10:05:45.766966,scraping
5227,Zumo de pomelo Hacendado,Not available,Not available,Not available,1.45,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39696/zumo...,39696.0,2023-03-12 10:05:46.170104,scraping
5228,Zumo de manzana selección Hacendado,Not available,Not available,Not available,1.50,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39922/zumo...,39922.0,2023-03-12 10:05:46.515096,scraping

In [275]:
mercadona_scraping['product_code'] = mercadona_scraping['product_code'].astype(int)
mercadona_scraping

,product,product_type,product_volume,product_price_per_unit,product_price,product_unit,product_category,product_subcategory,product_url,product_code,collected_timestamp,source
0,"Aceite de oliva 0,4º Hacendado",Garrafa,5 L,"| 4,726 €/L",23.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4241/aceit...,4241,2023-03-11 21:46:34.649336,scraping
1,"Aceite de oliva 0,4º Hacendado",Botella,1 L,"| 4,77 €/L",4.77,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4240/aceit...,4240,2023-03-11 21:46:35.305827,scraping
2,Aceite de oliva virgen extra Hacendado,Garrafa,3 L,"| 5,584 €/L",16.75,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4717/aceit...,4717,2023-03-11 21:46:35.818152,scraping
3,Aceite de oliva virgen extra Hacendado,Botella,1 L,"| 5,63 €/L",5.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4740/aceit...,4740,2023-03-11 21:46:36.352894,scraping
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella,750 ml,"| 6,814 €/L",5.11,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4706/aceit...,4706,2023-03-11 21:46:36.951563,scraping
...,...,...,...,...,...,...,...,...,...,...,...,...
5224,Bebida de pomelo Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.25,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39604/bebi...,39604,2023-03-12 10:05:44.970111,scraping
5225,Bebida guayaba Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.30,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39659/bebi...,39659,2023-03-12 10:05:45.366446,scraping
5226,Bebida de pera Hacendado sin azúcares añadidos,Not available,Not available,Not available,1.10,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39628/bebi...,39628,2023-03-12 10:05:45.766966,scraping
5227,Zumo de pomelo Hacendado,Not available,Not available,Not available,1.45,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39696/zumo...,39696,2023-03-12 10:05:46.170104,scraping
5228,Zumo de manzana selección Hacendado,Not available,Not available,Not available,1.50,/ud.,Not Available,Compartir,https://tienda.mercadona.es/product/39922/zumo...,39922,2023-03-12 10:05:46.515096,scraping

In [276]:
mercadona_scraping.head(5)

,product,product_type,product_volume,product_price_per_unit,product_price,product_unit,product_category,product_subcategory,product_url,product_code,collected_timestamp,source
0,"Aceite de oliva 0,4º Hacendado",Garrafa,5 L,"| 4,726 €/L",23.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4241/aceit...,4241,2023-03-11 21:46:34.649336,scraping
1,"Aceite de oliva 0,4º Hacendado",Botella,1 L,"| 4,77 €/L",4.77,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4240/aceit...,4240,2023-03-11 21:46:35.305827,scraping
2,Aceite de oliva virgen extra Hacendado,Garrafa,3 L,"| 5,584 €/L",16.75,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4717/aceit...,4717,2023-03-11 21:46:35.818152,scraping
3,Aceite de oliva virgen extra Hacendado,Botella,1 L,"| 5,63 €/L",5.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4740/aceit...,4740,2023-03-11 21:46:36.352894,scraping
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella,750 ml,"| 6,814 €/L",5.11,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4706/aceit...,4706,2023-03-11 21:46:36.951563,scraping

In [277]:
order_history.head(5)

,product,units,price,order_number,fecha,product_code,price_per_unit
0,"Salsa de tomate, albahaca y orégano Hacendado",1,1.2,13945376,2023-03-11,17283,1.2
1,Tomate pera,2,0.6,13945376,2023-03-11,69912,0.3
2,Atún en aceite de girasol Hacendado,2,13.6,13945376,2023-03-11,18086,6.8
3,Café molido natural Hacendado,1,3.2,13945376,2023-03-11,11178,3.2
4,Café molido natural Hacendado,1,3.2,13945376,2023-03-11,11178,3.2

In [278]:
mercadona_scraping.columns

Index(['product', 'product_type', 'product_volume', 'product_price_per_unit',
       'product_price', 'product_unit', 'product_category',
       'product_subcategory', 'product_url', 'product_code',
       'collected_timestamp', 'source'],
      dtype='object')

In [279]:
# create a copy of the order_history DataFrame
order_history_to_upload = order_history.copy()

# drop the 'units' and 'price' columns
order_history_to_upload.drop(['units', 'price'], axis=1, inplace=True)

# rename the 'order_number' column to 'source'
order_history_to_upload.rename(columns={'order_number': 'source'}, inplace=True)

# rename the 'fecha' column to 'collected_timestamp'
order_history_to_upload.rename(columns={'fecha': 'collected_timestamp'}, inplace=True)

# rename the 'price_per_unit' column to 'product_price'
order_history_to_upload.rename(columns={'price_per_unit': 'product_price'}, inplace=True)

order_history_to_upload

,product,source,collected_timestamp,product_code,product_price
0,"Salsa de tomate, albahaca y orégano Hacendado",13945376,2023-03-11,17283,1.20
1,Tomate pera,13945376,2023-03-11,69912,0.30
2,Atún en aceite de girasol Hacendado,13945376,2023-03-11,18086,6.80
3,Café molido natural Hacendado,13945376,2023-03-11,11178,3.20
4,Café molido natural Hacendado,13945376,2023-03-11,11178,3.20
...,...,...,...,...,...
921,Pechugas enteras de pollo,12793662,2022-10-06,3682,4.40
922,Medallones pechuga de pollo marinado,12793662,2022-10-06,2831,4.32
923,Medallones pechuga de pollo marinado,12793662,2022-10-06,2831,4.32
924,Aguacates,12793662,2022-10-06,3858,2.90
925,Aguacates,12793662,2022-10-06,3858,3.03

In [280]:
order_history_to_upload.columns

Index(['product', 'source', 'collected_timestamp', 'product_code',
       'product_price'],
      dtype='object')

In [281]:
new_columns = ['product', 'product_type', 'product_volume', 'product_price_per_unit',
               'product_price', 'product_unit', 'product_category', 'product_subcategory',
               'product_url', 'product_code', 'collected_timestamp', 'source']

order_history_to_upload = order_history_to_upload.reindex(columns=new_columns)
order_history_to_upload

,product,product_type,product_volume,product_price_per_unit,product_price,product_unit,product_category,product_subcategory,product_url,product_code,collected_timestamp,source
0,"Salsa de tomate, albahaca y orégano Hacendado",NaN,NaN,NaN,1.20,NaN,NaN,NaN,NaN,17283,2023-03-11,13945376
1,Tomate pera,NaN,NaN,NaN,0.30,NaN,NaN,NaN,NaN,69912,2023-03-11,13945376
2,Atún en aceite de girasol Hacendado,NaN,NaN,NaN,6.80,NaN,NaN,NaN,NaN,18086,2023-03-11,13945376
3,Café molido natural Hacendado,NaN,NaN,NaN,3.20,NaN,NaN,NaN,NaN,11178,2023-03-11,13945376
4,Café molido natural Hacendado,NaN,NaN,NaN,3.20,NaN,NaN,NaN,NaN,11178,2023-03-11,13945376
...,...,...,...,...,...,...,...,...,...,...,...,...
921,Pechugas enteras de pollo,NaN,NaN,NaN,4.40,NaN,NaN,NaN,NaN,3682,2022-10-06,12793662
922,Medallones pechuga de pollo marinado,NaN,NaN,NaN,4.32,NaN,NaN,NaN,NaN,2831,2022-10-06,12793662
923,Medallones pechuga de pollo marinado,NaN,NaN,NaN,4.32,NaN,NaN,NaN,NaN,2831,2022-10-06,12793662
924,Aguacates,NaN,NaN,NaN,2.90,NaN,NaN,NaN,NaN,3858,2022-10-06,12793662
925,Aguacates,NaN,NaN,NaN,3.03,NaN,NaN,NaN,NaN,3858,2022-10-06,12793662

In [282]:
merged_df = pd.concat([mercadona_scraping, order_history_to_upload])
merged_df

,product,product_type,product_volume,product_price_per_unit,product_price,product_unit,product_category,product_subcategory,product_url,product_code,collected_timestamp,source
0,"Aceite de oliva 0,4º Hacendado",Garrafa,5 L,"| 4,726 €/L",23.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4241/aceit...,4241,2023-03-11 21:46:34.649336,scraping
1,"Aceite de oliva 0,4º Hacendado",Botella,1 L,"| 4,77 €/L",4.77,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4240/aceit...,4240,2023-03-11 21:46:35.305827,scraping
2,Aceite de oliva virgen extra Hacendado,Garrafa,3 L,"| 5,584 €/L",16.75,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4717/aceit...,4717,2023-03-11 21:46:35.818152,scraping
3,Aceite de oliva virgen extra Hacendado,Botella,1 L,"| 5,63 €/L",5.63,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4740/aceit...,4740,2023-03-11 21:46:36.352894,scraping
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella,750 ml,"| 6,814 €/L",5.11,/ud.,"Aceite, especias y salsas >","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4706/aceit...,4706,2023-03-11 21:46:36.951563,scraping
...,...,...,...,...,...,...,...,...,...,...,...,...
921,Pechugas enteras de pollo,NaN,NaN,NaN,4.40,NaN,NaN,NaN,NaN,3682,2022-10-06 00:00:00,12793662
922,Medallones pechuga de pollo marinado,NaN,NaN,NaN,4.32,NaN,NaN,NaN,NaN,2831,2022-10-06 00:00:00,12793662
923,Medallones pechuga de pollo marinado,NaN,NaN,NaN,4.32,NaN,NaN,NaN,NaN,2831,2022-10-06 00:00:00,12793662
924,Aguacates,NaN,NaN,NaN,2.90,NaN,NaN,NaN,NaN,3858,2022-10-06 00:00:00,12793662
925,Aguacates,NaN,NaN,NaN,3.03,NaN,NaN,NaN,NaN,3858,2022-10-06 00:00:00,12793662

In [300]:
categories = pd.read_csv('categories.csv', sep="~")

In [302]:
merged_df = merged_df.merge(categories[['product_code', 'product_category', 'product_subcategory']], on='product_code', how='left')
merged_df = merged_df.rename(columns={'product_category_y': 'product_category', 'product_subcategory_y': 'product_subcategory'})
merged_df.drop(['product_category_x', 'product_subcategory_x'], axis=1, inplace=True)
merged_df = merged_df[['product', 'product_type', 'product_volume', 'product_price_per_unit', 'product_price', 'product_unit', 'product_category', 'product_subcategory', 'product_url', 'product_code', 'collected_timestamp', 'source']]
merged_df

,product,product_type,product_volume,product_price_per_unit,product_price,product_unit,product_category,product_category,product_subcategory,product_subcategory,product_url,product_code,collected_timestamp,source
0,"Aceite de oliva 0,4º Hacendado",Garrafa,5 L,"| 4,726 €/L",23.63,/ud.,"Aceite, especias y salsas >","Aceite, especias y salsas >","Aceite, vinagre y sal","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4241/aceit...,4241,2023-03-11 21:46:34.649336,scraping
1,"Aceite de oliva 0,4º Hacendado",Botella,1 L,"| 4,77 €/L",4.77,/ud.,"Aceite, especias y salsas >","Aceite, especias y salsas >","Aceite, vinagre y sal","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4240/aceit...,4240,2023-03-11 21:46:35.305827,scraping
2,Aceite de oliva virgen extra Hacendado,Garrafa,3 L,"| 5,584 €/L",16.75,/ud.,"Aceite, especias y salsas >","Aceite, especias y salsas >","Aceite, vinagre y sal","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4717/aceit...,4717,2023-03-11 21:46:35.818152,scraping
3,Aceite de oliva virgen extra Hacendado,Botella,1 L,"| 5,63 €/L",5.63,/ud.,"Aceite, especias y salsas >","Aceite, especias y salsas >","Aceite, vinagre y sal","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4740/aceit...,4740,2023-03-11 21:46:36.352894,scraping
4,Aceite de oliva virgen extra Hacendado Gran Se...,Botella,750 ml,"| 6,814 €/L",5.11,/ud.,"Aceite, especias y salsas >","Aceite, especias y salsas >","Aceite, vinagre y sal","Aceite, vinagre y sal",https://tienda.mercadona.es/product/4706/aceit...,4706,2023-03-11 21:46:36.951563,scraping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9574,Medallones pechuga de pollo marinado,NaN,NaN,NaN,4.32,NaN,Carne >,Carne >,Aves y pollo,Aves y pollo,NaN,2831,2022-10-06 00:00:00,12793662
9575,Medallones pechuga de pollo marinado,NaN,NaN,NaN,4.32,NaN,Carne >,Carne >,Aves y pollo,Aves y pollo,NaN,2831,2022-10-06 00:00:00,12793662
9576,Medallones pechuga de pollo marinado,NaN,NaN,NaN,4.32,NaN,Carne >,Carne >,Aves y pollo,Aves y pollo,NaN,2831,2022-10-06 00:00:00,12793662
9577,Aguacates,NaN,NaN,NaN,2.90,NaN,Fruta y verdura >,Fruta y verdura >,Fruta,Fruta,NaN,3858,2022-10-06 00:00:00,12793662
9578,Aguacates,NaN,NaN,NaN,3.03,NaN,Fruta y verdura >,Fruta y verdura >,Fruta,Fruta,NaN,3858,2022-10-06 00:00:00,12793662

In [303]:
merged_df.to_csv('../../mercadona.csv', sep='~', index=False)

In [287]:
load_dotenv()

True

In [292]:
password = os.getenv("sql_password")
dbName = "mercadona"

In [293]:
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
engine

Engine(mysql+pymysql://root:***@localhost/mercadona)

In [304]:
merged_df.to_sql(name='mercadona', con=engine, if_exists='replace', index=False)

9579

In [297]:
categories = pd.read_sql_query("""
SELECT product, product_code, product_category, product_subcategory
FROM mercadona
WHERE source = "scraping"
ORDER BY product_category ASC, product_subcategory ASC
;
""", engine)

In [298]:
categories

,product,product_code,product_category,product_subcategory
0,"Aceite de oliva 0,4º Hacendado",4241,"Aceite, especias y salsas >","Aceite, vinagre y sal"
1,"Aceite de oliva 0,4º Hacendado",4240,"Aceite, especias y salsas >","Aceite, vinagre y sal"
2,Aceite de oliva virgen extra Hacendado,4717,"Aceite, especias y salsas >","Aceite, vinagre y sal"
3,Aceite de oliva virgen extra Hacendado,4740,"Aceite, especias y salsas >","Aceite, vinagre y sal"
4,Aceite de oliva virgen extra Hacendado Gran Se...,4706,"Aceite, especias y salsas >","Aceite, vinagre y sal"
...,...,...,...,...
5224,Zumo de tomate Hacendado,39395,Zumos >,Tomate y otros sabores
5225,Zumo de manzana Hacendado,39403,Zumos >,Tomate y otros sabores
5226,Zumo de manzana Hacendado,39404,Zumos >,Tomate y otros sabores
5227,Néctar de maracuyá Hacendado fruta de la pasió...,39643,Zumos >,Tomate y otros sabores
5228,Bebida de mango Hacendado sin azúcares añadidos,39132,Zumos >,Tomate y otros sabores